<header>
  <div class="fixed z-40 w-full bg-white h-70px px-8 drop-shadow-md flex items-center justify-between xl:justify-evenly">
    <div class="w-auto order-2 xl:order-1">
      <div class="w-full h-32">
        <img src="assets/img/logo.png" alt="Logo CineTec">
      </div>
    </div>
    <button class="inline-flex items-center justify-center w-12 h-12 xl:ml-48 order-1 xl:order-2" (click)="sidebarService.showSidebar()">
      <app-bars></app-bars>
    </button>
    <div class="flex justify-center items-center xl:m-0-auto order-3">
      <button class="w-12 h-12">
        <user-svg></user-svg>
      </button>
      <h1 class="hidden xl:block font-bold capitalize text-azul-primary">{{usuario?.username}}</h1>
    </div>
  </div>
</header>
