<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<p-toast></p-toast>
<div class="font-bold text-3xl text-center p-4 uppercase mt-4 text-black" style=margin:20px>
  <h1>Pedidos Facturados</h1>
</div>

<div class="card">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
    </ng-template>
    <ng-template pTemplate="right">
      <a routerLink="/pedido-nuevo">
        <button pButton pRipple label="Crear" icon="pi pi-plus" class="p-button-success mr-2"></button>
      </a>
    </ng-template>
  </p-toolbar>
</div>

<p-table [value]="pedidos" dataKey="id" responsiveLayout="scroll">

  <!-- Main table -->
  <ng-template pTemplate="header">
    <tr>
      <th style="width: 3rem"></th>
      <th pSortableColumn="id">Pedido Nr.<p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="valorTotal">Valor Total</th>
      <th pSortableColumn="pagado">Pagado?</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pedido let-expanded="expanded">
    <tr>
      <td>
        <button type="button" pButton pRipple [pRowToggler]="pedido" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
      </td>
      <td>{{pedido.id}}</td>
      <td>{{pedido.total | currency:'$' : 'symbol' : '1.0-0' }}</td>
      <td><p-checkbox [(ngModel)]="pedido.pagado" [disabled]="true" [binary]="true"></p-checkbox></td>
      <td>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(pedido)"></button>
      </td>
    </tr>
  </ng-template>

<!-- Expanded Table -->
  <ng-template pTemplate="rowexpansion" let-pedido>

<!-- Snacks (Expanded) -->
    <tr>
      <td colspan="3">
        <div>
          <p-table [value]="pedido.Productos" dataKey="id" styleClass="p-datatable-sm">
            <ng-template pTemplate="caption">
              Snacks
            </ng-template>
            <ng-template pTemplate="body" let-prod>
              <tr style="background-color: whitesmoke">
                <td>{{prod.nombre}}</td>
                <td>{{prod.precio | currency: '$' : 'symbol' : '1.0-0'}}</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>

<!-- Combos (Expanded) -->
    <tr>
      <td colspan="3">
        <div>
          <p-table [value]="pedido.Combos" dataKey="id" styleClass="p-datatable-sm">
            <ng-template pTemplate="caption">
              Combos
            </ng-template>
            <ng-template pTemplate="header">
            </ng-template>
            <ng-template pTemplate="body" let-combo>   <!-- Sale error, pero no hay error -->
            <tr style="background-color: whitesmoke">
              <td>{{combo.nombre}}</td>
              <td>{{combo.precioTotal | currency: '$' : 'symbol' : '1.0-0'}}</td>
            </tr>
            </ng-template>
          </p-table>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
