<link rel="stylesheet"
      href=
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="font-bold text-3xl text-center p-4 uppercase mt-4 text-black" style=margin:20px>
  <h1>Registro de salas</h1>
  <div class="font-bold text-right uppercase text-black">
    <p-button label="Crear" ></p-button>
  </div>
</div>

<div class = "mr-10 ml-10">
  <p-table [value]="salas">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center">Nombre de la sala</th>
        <th style="text-align: center">Ciudad</th>
        <th style="text-align: center">Película actual</th>
        <th style="text-align: center">Sillas totales</th>
        <th style="text-align: center">Sillas disponibles</th>
        <th style="text-align: center">Sillas vendidas</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-salapelicula>
      <tr>
        <td style="text-align: center">{{salapelicula.nombre}}</td>
        <td style="text-align: center">{{salapelicula.ciudad}}</td>
        <td style="text-align: center">{{salapelicula.pelicula}}</td>
        <td style="text-align: center">{{salapelicula.sillas}}</td>
        <td style="text-align: center">{{salapelicula.sillas_disponibles}}</td>
        <td style="text-align: center">{{salapelicula.sillas_vendidas}}</td>
        <td width="10px"><button pButton pRipple type="button" icon="fa fa-pencil-square-o" class="p-button-rounded p-button-outlined"></button></td>
        <td width="10px"><button pButton pRipple type="button" icon="fa fa-times" class="p-button-rounded p-button-danger p-button-outlined"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>
