<link rel="stylesheet"
      href=
        "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="font-bold text-3xl text-center p-4 uppercase mt-4 text-black" style=margin:20px>
  <h1>Reporte de inventario</h1>
  <div class="font-bold text-right uppercase text-black">
      <p-button label="Crear" ></p-button>
  </div>
</div>

<div class = "mr-10 ml-10">
  <p-table [value]="inventarios">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center">Nombre Producto</th>
        <th style="text-align: center">Cantidad Actual</th>
        <th style="text-align: center">Ventas totales</th>
        <th style="text-align: center">Fecha última transacción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
      <tr>
        <td style="text-align: center">{{producto.nombre}}</td>
        <td style="text-align: center">{{producto.cantidad}}</td>
        <td style="text-align: center">{{producto.ventas}}</td>
        <td style="text-align: center">{{producto.ultima_fecha}}</td>
        <td width="10px"><button pButton pRipple type="button" icon="fa fa-pencil-square-o" class="p-button-rounded p-button-outlined"></button></td>
        <td width="10px"><button pButton pRipple type="button" icon="fa fa-times" class="p-button-rounded p-button-danger p-button-outlined"></button></td>
      </tr>
    </ng-template>
  </p-table>
</div>

